img {
    width: 25%;
    height: auto;
}
#logo{
    height: 100%;
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#botones_login{
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}
.botonIdiomas{
    background-color: transparent;
    border: transparent;
    width: 30%;
    height: 30px;
}
#espana{
    width: 78%;
    height: 40px;
}
#reino-unido{
    width: 75%;
    height: 40px;
}
#francia{
    width: 75%;
    height: 40px;
}
#alemania{
    width: 100%;
    height: 40px;
}
#menu{
    background-color: transparent;
    width: 90%;
    height: 40px;
    margin-left: 55%;
}
.ocultar{
    display: none;
}
button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#disMenu{
    width: 30%;
    height: 269px;
    position: absolute;
    right: 0%;
    top: 120px;
    z-index: 10;
}
#tablaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.btnMenu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #454545;
}
#disMenu :hover{
    width: 100%;
    background-color: #6b6868;
}
p{
    font-size: 25px;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
/* para ocultar la barra de scroll Chrome, Safari y Opera*/
main::-webkit-scrollbar{
    display: none;
}
#c_recomendaciones_img{
    width: 60%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#img_recomendacion{
    height: 90%;
    width: 80%;
}
#flecha_der{
    justify-items: end;
}
.flecha{
    width: 10%;
    height: 15%;
    cursor: pointer;
}
.flecha_desactivada{
    opacity: 0.5;
    cursor: not-allowed;
}
#contenedor_datos_imagen{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#usuario_imagen{
    width: 78.8%;
    margin-left: 10%;
    padding-left: 1%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    cursor: pointer;
}
#comentario_usuario_imagen{
    width: 78.8%;
    margin-left: 10%;
    padding-left: 1%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    word-break: break-all;
}
#c_img_click{
    width: 40%;
    height: 100%;
    margin-right: 2%;
    padding-top: 2%; 
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#contenedor_comentarios{
    width: 95%;
    height: 70%;
    padding: 2%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    overflow-y: scroll;
    word-break: keep-all;
}
.comentarios{
    font-size: 1.5vw;
}
.fecha_comentario{
    color: #343131;
}
.usuario_comentario{
    cursor: pointer;
    color: rgb(245, 98, 135);
}
#contenedor_reacciones{
    width: 95%;
    height: 10%;
    padding: 2%;
    background-color: #454545;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#caja_fuego,#caja_like,#caja_dislike,#caja_labio,#caja_corazon{
    width: 18%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(245, 98, 135);
    border-radius: 15%;
    border-collapse: collapse;
    cursor: pointer;
}


#c_comentario_personal{
    width: 95%;
    height: 20%;
    padding: 2%;
    background-color: #454545;
    border: 1px solid rgb(245, 98, 135);
    color: rgb(245, 98, 135);
    border-collapse: collapse;
    resize: none;
}