img {
    width: 25%;
    height: auto;
}
footer img{
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#logo{
    height: 100%;
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#botones_login{
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}
.botonIdiomas{
    background-color: transparent;
    border: transparent;
    width: 30%;
    height: 30px;
}
#espana{
    width: 78%;
    height: 40px;
}
#reino-unido{
    width: 75%;
    height: 40px;
}
#francia{
    width: 75%;
    height: 40px;
}
#alemania{
    width: 100%;
    height: 40px;
}
#menu{
    background-color: transparent;
    width: 90%;
    height: 40px;
    margin-left: 55%;
}
.ocultar{
    display: none;
}
button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#disMenu{
    width: 20%;
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 10;
}
#tablaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.btnMenu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 5% 0;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #454545;
}
#disMenu :hover{
    width: 100%;
    background-color: #6b6868;
}
#usuario_imagen{
    font-size: 25px;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
/* para ocultar la barra de scroll Chrome, Safari y Opera*/
main::-webkit-scrollbar, #contenedor_comentarios::-webkit-scrollbar, #c_comentario_personal::-webkit-scrollbar{
    display: none;
}
#c_recomendaciones_img{
    width: 60%;
    height: 96%;
    margin: 0.7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#img_recomendacion{
    height: 90%;
    width: 80%;
    object-fit: contain;
}
#flecha_der{
    justify-items: end;
}
.flecha{
    width: 10%;
    height: 15%;
    cursor: pointer;
}
.flecha_desactivada{
    opacity: 0.5;
    cursor: not-allowed;
}
#contenedor_datos_imagen{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#usuario_imagen{
    width: 78.8%;
    margin-left: 10%;
    padding-left: 1%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    cursor: pointer;
}
.texto_comentario{
    white-space: pre-wrap;
}
#comentario_usuario_imagen{
    width: 78.8%;
    margin-left: 10%;
    padding-left: 1%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    word-break: break-all;
}
#c_img_click{
    width: 40%;
    height: 90%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#contenedor_comentarios{
    width: 95%;
    height: 60%;
    padding: 2%;
    background-color: #6b6868;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
    word-break: keep-all;
}
.comentarios{
    font-size: 1.5vw;
}
.fecha_comentario{
    color: #343131;
}
.usuario_comentario{
    cursor: pointer;
    color: rgb(245, 98, 135);
}
.eliminar_comentario{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(245, 98, 135);
}
#contenedor_reacciones{
    width: 95%;
    height: 10%;
    padding: 2%;
    background-color: #454545;
    border: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#caja_fuego,#caja_like,#caja_dislike,#caja_labio,#caja_corazon{
    width: 18%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(245, 98, 135);
    border-radius: 15%;
    border-collapse: collapse;
    cursor: pointer;
}
#c_comentario_personal{
    width: 95%;
    height: 16%;
    padding: 2%;
    background-color: #454545;
    border: 1px solid rgb(245, 98, 135);
    color: rgb(245, 98, 135);
    border-collapse: collapse;
    resize: none;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
#boton_premium{
    margin-right: 2%;
    white-space: nowrap;
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.boton_cabecera {
    background-color: white;
    font-size: 1em;
    font-weight: 800;
    color: black;
}
.caja_premium{
    width: 95%;
    height: auto;
    gap: 2%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#text_nombre_completo{
    width: 50%;
}    
#text_isbn{
    width: 69%;
}
#text_caducidad, #texto_cvv{
    width: 28%;
}

@media only screen and (max-width: 350px) {
    
    #menu{
        background-color: transparent;
        width: 90%;
        height: 40px;
        margin-left: 2%;
    }

    #disMenu{
        width: 50%;
        position: absolute;
        right: 0%;
        top: 20%;
        z-index: 10;
    }

    main{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE y Edge */
        scrollbar-width: none;  /* Firefox */
    }

    #c_recomendaciones_img{
        width: 100%;
        height: 40%;
        margin: 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    #contenedor_reacciones{
        width: 95%;
        height: 15%;
        padding: 2%;
        background-color: #454545;
        border: 1px solid rgb(245, 98, 135);
        border-collapse: collapse;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #c_img_click{
        width: 100%;
        height: 50%;
        margin: 1%;
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #cajaDirecciones{
        width: 49%;
    }
    footer img{
        width: 100%;
    }
}