#botones_login{    /*si quitamos esto nos vamos a dos lineas*/
    padding-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.botonIdiomas{
    max-width: 10%;
    height: 30%;
    margin-right: 2%;
}
.boton_cabecera {
    background-color: white;
    font-size: 1em;
    font-weight: 800;
    color: black;
}
#iniciar_sesion{
    margin-right: 2%;
    white-space: nowrap;
    text-align: center;
}
form{
    width: 70%;
    max-height: 85%;
    padding: 1%;
    z-index: 1;
    border: 2px ridge rgb(41, 57, 82);
    border-radius: 10px;
    box-shadow: 10px 10px 5px silver;
    background-color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 10px;
    position: absolute;
    /* para ocultar la barra de scroll */
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
form>div{
    max-width: 25%;
}
/* para ocultar la barra de scroll Chrome, Safari y Opera*/
form::-webkit-scrollbar{
    display: none;
}
img {
    object-fit: contain;
    width: 33%;
    height: 100%;
    cursor: pointer;
}
button {
    border: 2px solid black;
    padding: 1%;
    border-radius: 20px;
    background-color: rgb(41, 57, 82);
    color: black;
    cursor: pointer;
}
main {
    width: 100%;
    max-height: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
#animacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
}
#fondo {
    width: 40%;
    text-align: right;
    font-size: 15vw;
    font-family: "times new roman";
    text-shadow: 7.5px 7.5px 7.5px grey;
    color: #e53935;
    animation-name: fondo;
    animation-duration: 3.5s;
}
#fondo2 {
    width: 60%;
    font-size: 15vw;
    font-family: "times new roman";
    text-shadow: 7.5px 7.5px 7.5px grey;
    color: black;
    animation-name: fondo;
    animation-duration: 3.5s;
}
#fondo3 {
    width: 100%;
    font-size: 2vw;
    font-family: "times new roman";
    text-shadow: 7.5px 7.5px 7.5px grey;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    animation-name: fondo;
    animation-duration: 3.5s;
    position: relative;
    z-index: -1;
}
@keyframes fondo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#ojo_contrasena{
    width: 2%;
}
#entrar{
    background-color: rgb(245, 98, 135);
    border: 3px solid black; 
}
#ojo_contrasena2,#ojo_contrasena3{
    width: 5%;
}
#ojo_contrasena, #ojo_contrasena2, #ojo_contrasena3{
    background-color: transparent;
    border: transparent;
    color: rgb(245, 98, 135);
}
#registrar{
    background-color: rgb(245, 98, 135);
    border: 3px solid black; 
}
.ocultar {
    display: none;
}
.mostrar {
    display: block;
}
.mostrar_flex {
    display: flex;
}
.activo {
    display: flex;
    background-color: rgb(245, 98, 135);
    color: black;
}
input {
    border-radius: 4px;
    border: 0.5px solid whitesmoke;
    border-bottom: 2px solid black;
    background-color: white;
    overflow: visible !important;
    flex-shrink: 0;
}
input:focus {
    border: 3px groove dodgerblue;
    border-radius: 2px;
    background-color: white;
}