img {
    width: 25%;
    height: auto;
}
footer img{
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#logo{
    height: 100%;
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#botones_login{
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}
.boton_cabecera {
    background-color: white;
    font-size: 1em;
    font-weight: 800;
    color: black;
}
#boton_premium{
    margin-right: 2%;
    white-space: nowrap;
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}
#text_nombre_completo{
    width: 50%;
}    
#text_isbn{
    width: 69%;
}
.grupo-selected{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#text_caducidad, #texto_cvv{
    width: 28%;
}
.botonIdiomas{
    background-color: transparent;
    border: transparent;
    width: 30%;
    height: 30px;
}
#espana{
    width: 78%;
    height: 40px;
}
#reino-unido{
    width: 75%;
    height: 40px;
}
#francia{
    width: 75%;
    height: 40px;
}
#alemania{
    width: 100%;
    height: 40px;
}
#menu{
    background-color: transparent;
    border: transparent;
    width: 90%;
    height: 40px;
    margin-left: 55%;
}
button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#disMenu{
    width: 20%;
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 10;
}
#tablaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.btnMenu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 5% 0;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #454545;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
/* para ocultar la barra de scroll Chrome, Safari y Opera*/
main::-webkit-scrollbar, #contenedor_comentarios::-webkit-scrollbar{
    display: none;
}
#section1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
hr{
    border: 2px solid black;
}
#caja_perfil_imagen{
    width: 20%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#caja_perfil_imagen > input{
    display: none;
}
#imgLabel{
    position: relative;
    width: 80%;
}
#imgLabel::after{
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
#imgPerfil{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    background-size: cover;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: fill;
    cursor: pointer;
}
#caja_perfil{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#caja_nombre, #caja_correo, #caja_sexo, #caja_rol{
    width: 82%;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    border-bottom: 2px solid black;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.textos{
    text-align: right;
    padding: 1%;
}
#caja_publi_edicion{
    width: 40%;
    height: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2%;
}
#caja_publicidad{
    width: 80%;
    height: 60%;
}
#publicidad{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#video_publi{
    width: 100%;
    height: 100%;
}
#caja_botones_edicion{
    width: 100%;
    height: auto;
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.aparecer{
    animation-name: aparecer;
    animation-duration: 1s;
}
.ocul{
    display: none;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.botones_seccion1{
    width: 100%;
    border: 2px solid black;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(245, 98, 135);
    font-size: 2vh;
    text-align: center;
    cursor: pointer;
}
#boton_anadir_publi,#boton_edicion,#boton_guardar,#boton_cambiar_contra{
    width: 100%;
    height: auto;
    padding: 1%;
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#form_anadir_publi{
    width: 100%;
    height: auto;
}
#archivo{
    width: 35%;
    margin: 5%;
    display: flex;
    justify-items: center;
    align-self: center;
}
.padre_de_todos{
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.caja_premium{
    width: 95%;
    height: auto;
    gap: 2%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#padre_anadir_publi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.activo {
    background-color: rgb(245, 98, 135);  
    color: black;
    text-align: center;
}
#titulo_nombre,#titulo_correo,#titulo_sexo,#titulo_rol{
    font-size: 2vw;
}
#texto_nombre,#texto_correo,#texto_sexo,#texto_rol{
    font-size: 1vw;
    width: 50%;
    text-align: right;
}
#btnImgVid{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
#btnImagenes{
    width: 50%;
    background-color: #454545;
    border: 2px solid black;
    border-collapse: collapse;
}
#btnVideos{
    width: 50%;
    background-color: #454545;
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
.btnActivo{
    width: 100%;
    background-color: #6b6868;
}
h2{
    font-size: 20px;
}
.disImg,.disVid{
    width: 100%;
    height: auto;
    background-color: #454545;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.caja_imagen,.caja_video{
    width: 24%;
    /* height: 17%; */
    position: relative;
    margin: 1% 0 0 1%;
}
.caja_imagen{
    cursor: pointer;
}
.caja_video>.x{
    cursor: pointer;
}
.caja_imagen::after,.caja_video::after{
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.imagen_interior,.video_interior{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
}
.videos{
    width: 25%;
}
.x{
    width: 10%;
    height: auto;
    position: absolute;
    right: 1%;
    top: 3%;
    z-index: 3;
    cursor: pointer;
}
.center{
    align-self: center;
}
.ocultar{
    display: none;
}
.ojo_contrasena{
    width: 15%;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    color: rgb(245, 98, 135);
}
.caj_ojo{
    display: flex;
    flex-wrap: nowrap;
}
#boton_enviar_match{
    width: 20%;
}
.sweetAlertAmor{
    background: transparent url("/front/img/imgPerfil/hearts-heart.gif") no-repeat fixed center !important;
    background-size: 40% !important;
    width: 100vw !important;
    height: 100vh !important;
}