img {
    width: 25%;
    height: auto;
}
footer img{
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#logo{
    height: 100%;
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#botones_login{
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}
.botonIdiomas{
    background-color: transparent;
    border: transparent;
    width: 30%;
    height: 30px;
}
#espana{
    width: 78%;
    height: 40px;
}
#reino-unido{
    width: 75%;
    height: 40px;
}
#francia{
    width: 75%;
    height: 40px;
}
#alemania{
    width: 100%;
    height: 40px;
}
#menu{
    background-color: transparent;
    border: transparent;
    width: 90%;
    height: 40px;
    margin-left: 55%;
}
.ocultar{
    display: none;
}
button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#disMenu{
    width: 30%;
    height: 269px;
    position: absolute;
    right: 0%;
    top: 120px;
}
#tablaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.btnMenu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #454545;
}
p{
    font-size: 25px;
    padding-left: 5%;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
#section1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
hr{
    border: 2px solid black;
}
#caja_perfil_imagen{
    width: 20%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#imgPerfil{
    width: 99%;
    height: 250px;
    margin: 1%;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid black;
}
#caja_perfil{
    width: 30%;
    height: 100%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#caja_nombre, #caja_correo, #caja_sexo, #caja_rol{
    width: 82%;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    border-bottom: 2px solid black;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textos{
    text-align: right;
    padding: 1%;
}
#caja_botones_edicion{
    width: 50%;
    height: 99%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2%;
}
.aparecer{
    animation-name: aparecer;
    animation-duration: 1s;
}
.ocul{
    display: none;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.botones_seccion1{
    width: 100%;
    border: 2px solid black;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(245, 98, 135);
    font-size: 2vh;
    text-align: center;
    cursor: pointer;
}
#boton_anadir_publi,#boton_edicion,#boton_guardar,#boton_cambiar_contra{
    width: 100%;
    padding: 1%;
}
.activo {
    background-color: rgb(245, 98, 135);  
    color: black;
    text-align: center;
}
#titulo_nombre,#titulo_correo,#titulo_sexo,#titulo_rol{
    font-size: 2vw;
}
#texto_nombre,#texto_correo,#texto_sexo,#texto_rol{
    font-size: 1vw;
}
#btnImgVid{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
#btnImagenes{
    width: 50%;
    background-color: #454545;
    border: 2px solid black;
    border-collapse: collapse;
}
#btnVideos{
    width: 50%;
    background-color: #454545;
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
.btnActivo{
    width: 100%;
    background-color: #6b6868;
}
h2{
    font-size: 20px;
}
#cajImagenes, #cajVideos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.videos{
    width: 25%;
}