img {
    width: 25%;
    height: auto;
}
footer img{
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#logo{
    height: 100%;
    object-fit: contain;
    width: 33%;
    cursor: pointer;
}
#botones_login{
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}
.botonIdiomas{
    background-color: transparent;
    border: transparent;
    width: 30%;
    height: 30px;
}
#espana{
    width: 78%;
    height: 40px;
}
#reino-unido{
    width: 75%;
    height: 40px;
}
#francia{
    width: 75%;
    height: 40px;
}
#alemania{
    width: 100%;
    height: 40px;
}
#menu{
    background-color: transparent;
    width: 90%;
    height: 40px;
    margin-left: 55%;
}
.ocultar{
    display: none;
}
button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#disMenu{
    width: 20%;
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 10;
}
#tablaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.btnMenu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 5% 0;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #454545;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #6b6868;
}
/* para ocultar la barra de scroll Chrome, Safari y Opera*/
main::-webkit-scrollbar, #caja_usuarios::-webkit-scrollbar{
    display: none;
}
#bloque1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgb(245, 98, 135);
    border-collapse: collapse;
}
#bloque2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid rgb(245, 98, 135);
    border-right: 1px solid rgb(245, 98, 135);
    border-bottom: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
}
#caja_buscador{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(245, 98, 135);
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#input_buscador{
    width: 100%;
    height: 100%;
    border-color: rgb(245, 98, 135);
}

#input_buscador:focus,#input_buscador:active{
    outline: none;
}

#imagen_buscador{
    position: absolute;
    top: 13%;
    right: 2%;
    width: auto;
    height: 97%;
    z-index: 5;
}

#caja_usuarios {
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}

form{
    min-width: 30%;
    padding: 1%;
    z-index: 1;
    border: 2px ridge rgb(41, 57, 82);
    border-radius: 10px;
    box-shadow: 10px 10px 5px silver;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2%;
}
form > h1{
    justify-content: center;
}

#ojo_contrasena{
    background-color: transparent;
    border: transparent;
    color: rgb(245, 98, 135);
    height: 100%;
    width: auto;
}

#div_botones_form{
    justify-content: space-around;
}

#div_botones_form > button{
    background-color: rgb(245, 98, 135);
    border: 3px solid black;
    border-radius: 30%;
}

input:focus, input:active{
    outline: none;
}